
@font-face {
  font-family: 'linecons';
  src:url('../fonts/linecons.ttf');
};

@font-face {
  font-family: 'Existence Light';
  src:url('../fonts/existence.ttf');
};

body{
  min-width: 300px;
  @include tablet{
    // min-width: 720px;
  }
  background-color: red; //to delete
    @include phone{ //to delete
    background-color: yellow;
  };
@include tablet{ //to delete
    background-color: aliceblue;
  }
};
.violet{
  color: $main-color;
}
.border{ //to delete
  border: 2px solid yellow;
}

.clearfix::after{
  display: block;
  content: "";
  clear: both;
}

/* HOME */
#home{
  background-image: url("../images/layer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;




  a:link{
    text-decoration: none;
    @include phone{
      width: 49%;
      min-height:49vw;
          }
  }
};

.center{
  margin: 0 auto;
  width: 1008px;
  @include tablet{
    width: 704px;
  };
  @include phone{
    width: 100%;
  }

}

#home h1{
  font-family: "Existence Light";
  font-weight: bold;
  font-size: 5em;
  line-height: 3em;
  @include phone{
    font-size: 3em;
  };

}

#home h2, #home h3, #home h1{

  color: white;
  text-align: center;


}

#home h2, #home h3{
  font-family: "Lato", sans-serif;
  font-weight: 100;

}
#home h2{
  font-size: 2.5em;
}

#home h3{
  font-size: 1.5em;
  padding: 1em 0;

}
.upper-line, .lower-line, .arrow-line{
    padding-bottom: 1.5em;

  display:flex;
  justify-content: center;
  @include phone{
    display: block;
      padding-bottom: 0;
  }

};

.upper-line{
  width: 100%;
  @include phone{
    a:link{
      display: inline-block;
    }
  }
};

.arrow-line{

  @include phone{
    display: none;
  }
}


.right-icons, .left-icons,{
  width: 48%;
  display: flex;
  @include phone{
    width: 100%;
    }
}
.right-icons{
  justify-content: flex-end;
  @include phone{
    justify-content: flex-start;
  }
}

.linecons{
  padding-bottom: 0.4em;
  font-family: "linecons";
  font-weight: normal;
  font-size: 3em;
  @include phone{
    font-size: 15vw;
  }


}
.hexagon{
font-size: 1em;
font-family: "Lato", sans-serif;
font-weight: 700;

  width: 160px;
  min-height: 160px;
  @include phone{
    width: 99%;
    min-height: 49vw;
    font-size: 1.2em;
  }


  background-image: url(../images/hex_white.svg);

  &:hover{
    background-image: url(../images/hex_violet.svg);

    .linecons{
      transition: 0.4s;
      font-size: 3.5em;
      @include phone{
        font-size: 15vw;
      }
    }
  }
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.7s;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:2px
}
#down-arrow{
  width: 82px;
  min-height: 82px;
  font-size: 2em;
  font-weight: 100;


}

/*EO HOME*/

/* MENU */

#menu{
  background-color: white;
  color: $dark-color;
  height: 100px;
  .center{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

  }
  li{
    font-size: 1em;
    font-weight: 700;
    &:first-child{
      display: none;
      @include phone{
        display: block;
      };
    }
    display: inline-block;
    @include phone{
      display: none;
    }
    font-family: 'Lato', sans-serif;
    padding-right: 1em;
    a{
      text-decoration: none;
      &:visited{
        color: $dark-color;
      };
          }
  }
  .logo{
    font-family: 'Existence Light',sans-serif;
    font-size: 1.5em;
    font-weight: 900;
  }
};
// HAMBURGER MENU
.hamburger{
  width: 33px;
  height: 22px;
  position: relative;

  input{
    display: block;
    width: 33px;
    height:22px;
    position: absolute;
    margin: 0;
    opacity: 0;
    z-index: 5;
    &:hover{
      cursor: pointer;
    }
    &:checked ~ span:nth-last-child(1){
      transform: rotate(45deg) translate(-3px,-10px);
      transition: 1s;
    }
    &:checked ~ span:nth-last-child(3){
      transform: rotate(-45deg) translate(-3px, 10px);
      transition: 1s;
    }
    &:checked ~ span:nth-last-child(2){
      opacity: 0;
    }
  }

  span{
    display: block;
    border-radius: 2px;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: $dark-color;
    transition: 1s;
  }


}
